In [ ]:
import pandas as pd

file_path = "/content/globalterrorismdb_0617dist.csv"

df = pd.read_csv(file_path, encoding='latin-1', low_memory=False)

print(df.shape)  # 데이터 크기 확인
print(df.head())  # 상위 5개 데이터 출력

(170350, 135)
        eventid  iyear  imonth  iday approxdate  extended resolution  country  \
0  197000000001   1970       7     2        NaN         0        NaN       58
1  197000000002   1970       0     0        NaN         0        NaN      130
2  197001000001   1970       1     0        NaN         0        NaN      160
3  197001000002   1970       1     0        NaN         0        NaN       78
4  197001000003   1970       1     0        NaN         0        NaN      101

          country_txt  region  ... addnotes scite1 scite2  scite3  dbsource  \
0  Dominican Republic       2  ...      NaN    NaN    NaN     NaN      PGIS
1              Mexico       1  ...      NaN    NaN    NaN     NaN      PGIS
2         Philippines       5  ...      NaN    NaN    NaN     NaN      PGIS
3              Greece       8  ...      NaN    NaN    NaN     NaN      PGIS
4               Japan       4  ...      NaN    NaN    NaN     NaN      PGIS

   INT_LOG  INT_IDEO INT_MISC INT_ANY  related
0        0         0        0       0      NaN
1        0         1        1       1      NaN
2       -9        -9        1       1      NaN
3       -9        -9        1       1      NaN
4       -9        -9        1       1      NaN

[5 rows x 135 columns]

In [ ]:
print(df.columns)

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [ ]:
# 'iyear'가 1990 이상인 데이터만 필터링
df_1990 = df[df['iyear'] >= 1990]

# 필터링 후 데이터 크기 확인
print(df_1990.shape)  # 필터링된 데이터의 크기
print(df_1990.head())  # 상위 5개 데이터 출력

(129352, 135)
            eventid  iyear  imonth  iday approxdate  extended resolution  \
40998  199001000001   1990       1     0        NaN         0        NaN
40999  199001010001   1990       1     1        NaN         0        NaN
41000  199001010002   1990       1     1        NaN         0        NaN
41001  199001010003   1990       1     1        NaN         0        NaN
41002  199001010004   1990       1     1        NaN         0        NaN

       country country_txt  region  ... addnotes scite1 scite2  scite3  \
40998      110     Lebanon      10  ...      NaN    NaN    NaN     NaN
40999       92       India       6  ...      NaN    NaN    NaN     NaN
41000       92       India       6  ...      NaN    NaN    NaN     NaN
41001       92       India       6  ...      NaN    NaN    NaN     NaN
41002       26     Bolivia       3  ...      NaN    NaN    NaN     NaN

       dbsource  INT_LOG  INT_IDEO INT_MISC INT_ANY  related
40998      PGIS       -9        -9        0      -9      NaN
40999      PGIS       -9        -9        0      -9      NaN
41000      PGIS       -9        -9        0      -9      NaN
41001      PGIS       -9        -9        0      -9      NaN
41002      PGIS        0         1        1       1      NaN

[5 rows x 135 columns]

In [ ]:
# CSV로 저장
df_1990.to_csv("/content/globalterrorism_1990.csv", index=False, encoding='utf-8-sig')